DATABASE_URL='postgresql://postgres:12345678@localhost:5432/rbac_db?schema=public'

jwt_secret='44e2e622c240024290e5439add08e600ce423999dc7974dc8753464e1e7bdef2'
REFRESH_TOKEN_SECRET='your-refresh-secret-here'
REFRESH_TOKEN_EXPIRY='7d'